<h1>Employer</h1>
<p>We are working on our Racqurie App</p>

<!-- Try to incorporate login with Facebook connect-->
			<div id="fb-root"></div>
			<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>

<div class= "jumbotron center">

	<div class="container">
	   <div class="row">
	       <div class="col-xs-6">
	          <%=link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %>
	       </div>
	       <div class="col-xs-6">
	           <%=link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	       </div>
	   </div>
	</div>

</div>

<div class= "jumbotron center">

	<div class="container">
	   <div class="row">
	       <div class="col-xs-6">



        <h3>Sign up or <a id="login-link" href="/users/login?returnurl=%2fquestions%2f22150006%2falign-two-divs-horizontally-side-by-side-center-to-the-page-using-bootstrap-css%23new-answer">log in</a></h3>
        <script>
            StackExchange.ready(function () {
                StackExchange.helpers.onClickDraftSave('#login-link');
            });
        </script>
        <div class="preferred-login google-login">
            <p><span class="icon"></span><span>Sign up using Google</span></p>
        </div>
        <div class="fb-login">
           <a href="#" id="facebook-auth-login" tabindex="8" class="btn disabled">
             <span>facebook icon</span>log in with Facebook
           </a>
           <p><strong>Fast &amp; Easy.</strong> Don&#x27;t worry--we&#x27;ll never post anything without your permission.</p>
         </div>
       
    </div>
    <input name="manual-openid" class="manual-openid" type="hidden">
    <input name="use-facebook" class="use-facebook" value="false" type="hidden">
    <input class="submit-openid" value="Submit" style="display:none" type="button">
    
    <div class="col-xs-6">
    
    <h3>Post as a guest</h3>
    <div class="form-item">
        <table>
        <tbody><tr>
                    <script>
                StackExchange.ready(function () {
                    StackExchange.helpers.bindHelpOverlayEvents($('.vm input'));
                });
            </script>
            <td class="vm">
                <div>
                    <label for="display-name">Name</label>
                    <input id="display-name" name="display-name" size="30" maxlength="30" value="" tabindex="105" type="text">
                <span style="opacity: 1; left: 554px; top: 108.383px; width: 19px; min-width: 19px; height: 13px; position: absolute; "></span></div>
                <div>
                    <label for="m-address">Email</label>
                    <input id="m-address" name="m-address" size="30" maxlength="100" value="" tabindex="106" type="text">
                    <span class="edit-field-overlay">required, but not shown</span>
                <span style="opacity: 1; left: 554px; top: 163.1px; width: 19px; min-width: 19px; height: 13px; position: absolute; "></span></div>
            </td>
        </tr>
        </tbody></table>
    </div>

                    </div>
                </div>
            </div>
            
            <noscript>
                        <h3>Post as a guest</h3>
    <div class="form-item">
        <table>
        <tr>
                    <script>
                StackExchange.ready(function () {
                    StackExchange.helpers.bindHelpOverlayEvents($('.vm input'));
                });
            </script>
            <td class="vm">
                <div>
                    <label for="display-name">Name</label>
                    <input id="display-name" name="display-name" type="text" size="30" maxlength="30" value="" tabindex="105">
                </div>
                <div>
                    <label for="m-address">Email</label>
                    <input id="m-address" name="m-address" type="text" size="30" maxlength="100" value="" tabindex="106">
                    <span class="edit-field-overlay">required, but not shown</span>
                </div>
            </td>
        </tr>
        </table>
    </div>

            </noscript>
              </div>
            </div>
            </div>
            </div>

