<h1>Nakatomi Towers Consulting</h1>

<p><strong>Total Hires: 5</strong></p>
<p><strong>Pending Hire Payments: 3</strong></p>
				<p style="text-align:right">
				<button class="btn btn-large btn-primary" type="submit">
       	Make Payment!
     	 	</button>
     	 </p>

<p><strong>Unpaid Hires</strong></p>
<div class="table-responsive">


	<table class="table">
    <th colspan="4">
      <td><strong>Name/Position</strong></td>
      <td><strong>Date Hired</strong></td>
      <td><strong>Payment Due</strong></td>
      <td><strong>Amount Due</strong></td>
    </th>

		<tr>
			<td>John Doe - Developer - Google</td>
		  <td>09-13-13</td>
		  <td>10-13-13</td>
		  <td>$900</td>
		</tr>
			<td>Jane Smith - Analyst - Twitter</td>
			<td>10-24-13</td>
			<td>11-24-13</td>
			<td>$600</td>
		<tr>
			<td>Sergei Federov - Marketing Manager - Snapchat</td>
			<td>11-05-13</td>
			<td>12-05-13</td>
			<td>$250</td>
		</tr>
	
	</table>
</div>



<p><strong>Paid Hires</strong></p>
<div class="table-responsive">


	<table class="table">
	 <th colspan="4">
		<tr>
			<td><strong>Name/Position</strong></td>
			<td><strong>Date Hired</strong></td>
			<td><strong>Date Paid</strong></td>
			<td><strong>Amount Paid</strong></td>
	 </th>
	  
		<tr>
			<td>Pat Solitano - Developer - Google</td>
		  <td>09-13-13</td>
		  <td>09-20-13</td>
		  <td>$900</td>
		</tr>
			<td>Brian Urlacher - Analyst - Twitter</td>
			<td>10-24-13</td>
			<td>10-31-13</td>
			<td>$600</td>
		<tr>
			<td>Mario Yluigi - Marketing Manager - Snapchat</td>
			<td>11-05-13</td>
			<td>12-01-13</td>
			<td>$250</td>
		</tr>
	
	 
	</table>
</div>


<p style="text-align:center">
<a href="www.espn.com">Tell Others About Us!</a></p>