<h1>Welcome to Racquire f!</h1>
  <div class="jumbotron center"> 
  <p style="font-size:45px"><strong>Refer your <em>friends</em>.</strong></p>
  <p style="font-size:45px"><strong>If they get <em>hired</em>,</strong></p>
  <p style="font-size:45px"><strong>You get <em>paid</em>!</strong></p>


<p style="font-size:40px">
  Are you...
</p>

    <p>
      <%=link_to "Looking to recruit from your network?", new_user_session_path, class: "btn btn-primary btn-lg" %>
    </p>
    <p style="font-size: 30px"><strong> OR</strong></p>
     <p>
      <%=link_to "An Employer wanting to use the service?", new_employer_session_path, class: "btn btn-primary btn-lg" %>
    </p>
  

</div> 
