<h1>Getting Started</h1>
  <div class="jumbotron center"> 
  <p style="font-size:45px"><strong>Are your friends or colleagues</strong></p>
  <p style="font-size:45px"><strong>looking for a new job?</strong></p>
  <p style="font-size:45px"><strong>Use Racquire and help them help you!</strong></p>



<p style="font-size:40px">
  Are you...
</p>

    <p>
      <%=link_to "Looking to recruit from your network?", recruiter_path, class: "btn btn-primary btn-lg" %>
    </p>
    <p style="font-size: 30px"><strong> OR</strong></p>
     <p>
      <%=link_to "An Employer wanting to use the service?", employer_path, class: "btn btn-primary btn-lg" %>
    </p>
  

</div> 