<div class= "jumbotron center">
	<h1> About Racquire </h1>
	<div class="well well-lg">
		<p>Two mice fell into a bucket of cream. The first mouse quickly gave up and drowned. The second mouse fought so hard, that eventually he churned that cream into butter and walked out. As of today, I am that second mouse.</p>
	</div>
