<h1>Make a payment to Racquire</h1>
<p>Please input the following information to securely send payments</p>

<div class="row-fluid">

	 <div class="col-md-6">

	 	<div class="jumbotron"
	 
		<form class="form-signin">
		 <h2 class="form-signin-heading">Payment Authorization Form</h2>
			 <p>
			 	<input type="text" class="form-control" placeholder="Name">
			 </p>
			 <p>
			 	<input type="text" class="form-control" placeholder="Email address">
			 </p>
			 <p>
			 	<input type="password" class="form-control" placeholder="Company">
			 </p>
			 <p>
			 	<input type="password" class="form-control" placeholder="Total Payment Amount">
			 </p>
			 <p>
			 	<input type="text" class="form-control" placeholder="Notes">
			 </p>
			 <p>
			 	<input type="text" class="form-control" placeholder="Payment Date">
			 </p>


		 <div>
		 	<button class="btn btn-large btn-primary" type="submit">Submit Payment</button>
		 </div>
		</form>
	 
	 </div>

	</div>
 
</div>