<div class="row">
 
		<div class="col-md-6">

			<div class="jumbotron">
		 
			<form class="form-signin">
				 <h2 class="form-signin-heading">Existing Members</h2>
				 <p>
				 	<input type="text" class="form-control" placeholder="Email address">
				 </p>
				 <p>
				 	<input type="password" class="form-control" placeholder="Password">
				 </p>
					 <label class="checkbox-center">
					 	<input type="checkbox" value="remember-me"> Remember me
					 </label>
				 <div>
				 	<button class="btn-center btn-large btn-primary" type="submit">Sign in</button>
				 </div>
			 </form>
		 </div>
		</div>
	 
	 <div class="col-md-6">

	 	<div class="jumbotron"
	 
		<form class="form-signin">
		 <h2 class="form-signin-heading">New Members</h2>
			 <p>
			 	<input type="text" class="form-control" placeholder="Name">
			 </p>
			 <p>
			 	<input type="text" class="form-control" placeholder="Email address">
			 </p>
			 <p>
			 	<input type="password" class="form-control" placeholder="Password">
			 </p>
			 <p>
			 	<input type="password" class="form-control" placeholder="Confrim Password">
			 </p>
			 <p>
			 	<input type="text" class="form-control" placeholder="Current Employer">
			 </p>
			 <p>
			 	<input type="text" class="form-control" placeholder="Current Job Title">
			 </p>
			 <p>
				 <input type="text" class="form-control" placeholder="Skills">
			 </p>
			 <label class="checkbox-center">
			 	<input type="checkbox" value="remember-me"> Remember me
			 </label>
		 <div>
		 	<button class="btn-center btn-large btn-primary" type="submit">Sign in</button>
		 </div>
		</form>
	 
	 </div>

	</div>
 
</div>